.container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  color: #ffff;
  width: 100%;
}

.topCard {
  display: flex;
  gap: 24%;
  align-items: center;
  padding: 15px 3%;
  position: relative;
  background:rgb(25, 21, 41);
  border-radius: 20px;
}

.hLine {
  background: linear-gradient(90deg, rgb(69, 255, 255), rgb(242, 63, 246));
  width: calc(100% - 40px);
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 20px;
}

.topCard .hLine {
  bottom: 15px;
}

.handsImg {
  height: 90px;
  width: auto;
}

.binaryYes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.binaryYes :nth-child(2) {
  text-transform: uppercase;
  margin-top: 3px;
  font-size: 64px;
  height: 60px;
  color: rgb(72, 251, 255);
  display: grid;
  place-content: center;
}

.mainCard {
  padding: 15px 30px;
}

.teamsInfoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.teamInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 1.4;
}

.teamInfo > .iconWithGlow img {
  width: 40px;
  height: auto;
}

.iconWithGlow {
  position: relative;
}

.iconWithGlow img:nth-child(1) {
  position: relative;
  z-index: 2;
}

.iconWithGlow img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
  transform: scale(1.1);
  z-index: 1;
}

.teamInfo h3 {
  margin-bottom: 10px;
}

.teamInfo .statValue {
  color: rgb(77, 245, 255);
}

.rightTeam > .iconWithGlow {
  transform: rotate(180deg);
}

.rightTeam .teamInfoText {
  text-align: right;
}

.spanRang>p{
  font-size: 30px;
}
.spanRang>span{
  color: #86E4FF;
  font-size: 13px;
}
.rangImg{
  width: 17%;
  display: flex;
  gap: 10%;
}
.rangImg img{
  height: 50px;
    width: 28%;
}

.searchBinaria{
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.sectionBinaria{
  display: flex;
  background-image: url(../../public/iconos/Base.png);
  background-repeat: no-repeat;
  width: 40%;
  background-size: contain;
}
.sectionBinariaG{
  width:40%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(#2e1370, #2ec4ea);
  font-size: 30px;
  height: 55px;

}
.sectionBinaria input{
  height: 55px;
  background: transparent;
  border: none;
  border-radius: 23px;
  color: #ffff;
  font-size: 15px;

}
.sectionBinaria input::placeholder{
  text-align: center;
  color: #ffff;
  font-size: 18px;


}
.CardBottonDis{
  width: 70%;
  background: linear-gradient(#2e1370, #2ec4ea);
  padding: 1%;
  border-radius: 40px;
  color: #fff;
  border: none;
  margin-bottom: 4%;
  cursor: pointer;
  font-size: 30px;
}
.teamStats{
  display: flex;
  gap: 5%;
  width: 129%;

  background-image: url(../../public/iconos/Base.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.scoreTeams{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scoreTeams p{
  font-size: 15px;
}
.base{
  width: 100%;
  background-image: url(../../public//iconos/Base123.png);
  height: 36em;
  background-repeat: no-repeat;

}
.buttonline{
  display: flex;
  justify-content: space-between;
  padding-top: 3%;

}
.buttonline button{
  width: 10%;
  background: linear-gradient(#2e1370, #2ec4ea);
  padding: 1%;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 20px;
  
}