.container {
  background: linear-gradient(rgb(105, 220, 247), rgb(218, 87, 253));
  border-radius: 12px;
  padding: 2px;
}

.innerContainer {
  height: 35px;
  background: rgb(55, 68, 123);
  border-radius: inherit;
  display: flex;
  align-items: center;
}

.label {
  font-size: 14px;
  background: linear-gradient(rgb(105, 220, 247), rgb(218, 87, 253));
  width: 110px;
  padding: 5px;
  border-radius: 8px;
  height: 100%;
  display: grid;
  align-content: center;
  text-align: center;
  white-space: pre-wrap;
}

.url {
  overflow: hidden;
  white-space: nowrap;
  width: 130px;
  margin: 5px;
  font-size: 16px;
}
