.topBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px 0;
}

.nameLogo {
  height: 40px;
  width: auto;
  transform: scale(1.6);
  filter: brightness(1);
}

.topBar .iconBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.topBar .iconBtn img {
  height: 40px;
  width: auto;
}

.topBar .iconBtn:active {
  transform: scale(0.96);
}

.topBarGroup {
  display: flex;
  gap: 15px;
}
