.topRow {
  display: flex;
  align-items: stretch;
  height: 270px;
  gap: 25px;
}

.card {
  background: rgb(24, 21, 40);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  color: #fff;
}
.cardDis {
  text-align: center;
  background: rgb(24, 21, 40);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  color: #fff;
}

.score {
  width: 240px;
  cursor: pointer;
  height: 100%;
  position: relative;
  background: rgb(24, 21, 40);
  border-radius: 10px;
}

.score img {
  width: calc(100% - 80px);
  height: auto;
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 1;
  transition: 0.3s ease-in-out transform;
  transform: none;
}

.score:hover img {
  transform: scale(1.1) translateY(-10px);
}

.score .card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.score .cardGradient1 {
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  z-index: 2;
}

.score .cardGradient1::after,
.totalEarnings .cardGradient1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#2E93EA,#311E96);
  opacity: 0;
  transition: 0.2s linear opacity;
  z-index: 0 !important;
}

.score:hover .cardGradient::after,
.totalEarnings:hover .cardGradient::after {
  opacity: 1;
}

.cardGradient1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(#2E93EA,#311E96);
  display: flex;
  color: #fff;
}
.cardGradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 100px;
  background: linear-gradient(#2E93EA,#311E96);
  display: flex;
  color: #fff;
  border-radius: 0 0 20px 20px;
}

.cardGradient > * {
  z-index: 2;
}

.totalEarnings {
  width: 0;
  flex-grow: 1;
  position: relative;
  cursor: default;
}

.totalEarnings img {
  position: absolute;
  right: 84px;
  top: -30px;
  z-index: 1;
  /* height: 300px; */
  max-width: 44%;
}

.totalEarnings .card {
  width: 100%;
  height: 100%;
  padding-left: 12px;
}

.totalEarningsTopText {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.totalEarnings h2 {
  font-size: 30px;
  margin-bottom: 10px;
  /*background: linear-gradient(to #2E93EA,80%,#311E96);*/

  background: radial-gradient(  20% 791.52% at 2.54% -467.5%, #2E93EA 80%, #305AC2 100.98%, #311E96 134.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.totalEarningsToday {
  margin: 12px 0;
  font-size: 48px;
}

.totalEarnings .cardGradient{
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.progressBar{
  position: relative;
  left: 43%;
  margin-top: 7%;
  z-index: 2;
}
.totalEarnings .cardGradient .progressBar {
  width: 60%;
}

.columns {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.columns > div:nth-child(1) {
  width: 240px;
}

.columns > div:nth-child(1) .card {
  border: 1px solid;
  border-color: rgba(255, 89, 253, 0);
  transform: scale(1);
  transition: 0.2s ease-out transform, 0.2s ease-out border-color,
    0.2s ease-out box-shadow;
  box-shadow: 0 0 3px rgba(255, 89, 253, 0), inset 0 0 3px rgba(255, 89, 253, 0);
}

.columns > div:nth-child(1) .card:hover {
  border-color:#2e1370;
  box-shadow: 0 0 3px#2e1370,
    inset 0 0 3px#2e1370;
  transform: scale(1.05);
  cursor: pointer;
}
.columns > div:nth-child(1) .cardDis:hover {
  border-color:#2e1370;
  box-shadow: 0 0 3px#2e1370,
    inset 0 0 3px#2e1370;
  transform: scale(1.05);
  cursor: pointer;
}

.columns > div:nth-child(2) {
  width: 160px;
  flex-grow: 1;
}

.columns > div:nth-child(3) {
  width: 160px;
  flex-grow: 1;
}

.cardTitle {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0 26%;
}

.valueCardLine {
  height: 1px;
  width: 58%;
  margin: auto;
  background: linear-gradient(90deg, rgb(57, 171, 173), #2E93EA);
}

.valueCardValue {
  text-align: center;
  margin: 15px 0;
  font-size: 22px;
}

.liquidityWalletAmount {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.liquidityWalletAmount img {
  height: 30px;
  width: auto;
}

.teamVolume {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.teamVolume li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 15px;
}

.teamVolumeValue {
  color: rgb(51, 197, 197);
  font-size: 20px;
  display: flex;
  margin-bottom: 5px;
}

.chatForm {
  position: relative;
}

.chatForm input {
  background: #fff;
  color: #000;
  font-family: inherit;
  border-radius: 20px;
  padding-left: 15px;
  width: 100%;
  border: none;
  height: 40px;
  font-size: 16px;
}
.chatForm input::placeholder {
  text-align: center;
  color: #2e1370;
}

.chatForm input:focus {
  outline: 1px solid rgb(58, 176, 255);
  border: none;
}

.chatForm button {
  position: absolute;
  right: 7px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.chatForm button img {
  height: 25px;
  width: auto;
}

.percentEarnedCard {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;*/
  padding: 45px 41px;
  font-size: 18px;
}
.CardBottonDis{
  width: 95%;
  background: linear-gradient(#2e1370, #2ec4ea);
  padding: 5%;
  border-radius: 20px;
  color: #fff;
  border: none;
  margin-bottom: 4%;
  cursor: pointer;
}

.cardTitleWallet >img{
  width: 19%;
  height: auto;
  position: absolute;
  right: 13%;
  top: 36px;
}
.cardDis>p{
  margin-top: 2%;
}
.cardPorcen{
text-align: center;}

.slick-prev{
  left: 0;
}